@import url("https://use.typekit.net/obn7dcx.css");

* {
  font-family: "alibaba-sans", sans-serif;
  font-size: 16px;
}

.our-motto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-motto-img {
  width: 30rem;
  height: 15.7rem;
}

.our-motto-heading {
  font-size: 1.75rem;
  font-weight: medium;
  color: #7f170e;
}

.our-motto-verse {
  font-size: 2.625rem;
  color: #545454;
  font-style: italic;
  font-weight: medium;
  text-align: center;
}

.our-motto-cite {
  font-size: 2.625rem;
  color: #f8cd46;
  font-style: italic;
  font-weight: medium;
}

.theta-tau-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
gap: 2rem;
  background-color: #ececec;
  padding: 9rem 5rem 9rem 5rem;
  flex-wrap: wrap;
}

.theta-tau-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theta-tau-header {
  font-size: 2rem;
  color: #7f170e;
  font-weight: 700;
}

.theta-tau-txt {
  font-size: 1rem;
  color: #545454;
  width: 25rem;
}

@media (max-width: 600px) {
  .theta-tau-txt {
    width: auto;
  }
}

.xi-epsilon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  padding: 13rem 5rem 13rem 5rem;
  flex-wrap: wrap;
}

.xi-epsilon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
}

.xi-epsilon-heading {
  font-size: 2rem;
  color: #7f170e;
  font-weight: 700;
}

.xi-epsilon-txt {
  color: #000;
  font-size: 1rem;
}

.founders {
  width: 36rem;
  height: 27rem;
}

@media (max-width: 766px){
  .our-motto-img{
    width: 100vw;
    height: auto;
  }
  .founders-img{
    width:90vw;
    height: auto;

  }
  .theta-tau-container{
    padding: 3rem 0 3rem 0;
  }

  .founders{
    width: 21.87500rem;
    height: auto;
  }

  .xi-epsilon-container{
  padding: 2rem;
  }
}