@import url("https://use.typekit.net/obn7dcx.css");

* {
  font-family: "alibaba-sans", sans-serif;
  font-size: 16px;
}

.recruitment-heading{
    font-size: 5.75rem;
    font-weight: 900;
    width:40rem;
}

.recruitment-heading-container{
    display: flex;
    justify-content:flex-start;
    padding-left: 10vw;
    padding-top: 5vh;
    padding-bottom:5vh ;
}

.recruitment-img{
    height: 17.25rem;
}

.recruitment-container-grey{
    height: 100vh;
    background-color: #ECECEC;

}

.recruitment-line{
    height: 1px;
    width: 46.37500rem;
    background-color: black; 
}

.recruitment-info-container{
    display: flex;
    justify-content:center;
}

.recruitment-info-txt{
    padding-top: 1rem;
    font-size: 1.125rem;
    color: #545454;
}

.rushing-container{
    padding: 10vh 0 10vh 0
}

.rushing-heading{
    font-size: 5.75rem;
    font-weight: 900;
    padding-left: 10vw;
}

.rushing-info{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 5vh;
}


.rushing-txt{
    padding-top: 3vh;
    width: 46.375vw;
    font-size: 1.12500rem;
    color: #545454;
    font-weight: medium;
}

.rush-timeline{
    font-weight: bold;
    color: #7F170E;
    font-size: 3rem;
    padding-left: 15vw;
}

.attire-guidelines-container{
    padding-top: 10vh;
    padding-left: 15vw;
}

.attire-guidelines-subheading{
    font-size: 1.5rem;
    font-weight: bold;
}

.attire-guidelines-heading{
    font-weight: bold;
    color: #7F170E;
    font-size: 3rem;
}

.clothing{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 5vw;
    margin-bottom: 0;
}

.clothing{
    font-size: 1rem;
    font-weight: 600;
    padding-left: 5vw;
}

.clothing-requirement{
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 7.5vw;
}

.recruitment-resources-container{
    height: 100vh;
    background-color: #ECECEC;
    
}

.recruitment-resource-info{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.recruitment-resources-txt{
    width: 46.375vw;
    font-size: 1.12500rem;
    font-weight: medium;
    padding-top: 5vh;
}

.recruitment-resources-heading{
    font-size: 5.75rem;
    font-weight: 900;
    width: 40.3125vw;
    padding-left: 10vw;
    padding-top: 10vh;

}

.recruitment-contact{
    font-weight: bold;
    font-size: 1.12500rem;
    padding-top: 3vh;
}

