@import url("https://use.typekit.net/obn7dcx.css");

* {
  font-family: "alibaba-sans", sans-serif;
  font-size: 16px;
}

.pillars-list-container {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

/* Purpose Section */
.gray-background {
  background-color: #ececec;
}

.purpose {
  max-width: 60rem;
  text-align: center;
  margin: 0 auto;
  padding: 2vh 0;
  background-color: #ececec;
}

.purpose h4 {
  font-size: 1.75rem;
  color: #7f170e;
  font-weight: 500;
}

.purpose p {
  font-size: 2.25rem;
  color: #545454;
  font-weight: 600;
}

#yellow {
  color: #fbbc04;
  font-size: 2.25rem;
  font-weight: 600;
}

.who-are-we-img {
  width: 52.625rem;
  height: auto;
}
.who-are-we-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 9.6875vh;
  padding-bottom: 9.6875vh;
}

.who-are-we-txt-container {
  width: 16.0625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.who-are-we-txt-container p {
  font-size: 1rem;
  color: #181818;
}

.who-are-we-txt-container h4 {
  font-size: 1.75rem;
  font-weight: 900;
  color: #545454;
}

.achievements-container {
  background-color: #7f170e;
  color: #f9f9f9;
  padding: 3rem 0 3rem 1rem;
}

.achievements {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}

.achievements-elements {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 21.1875rem;
  padding: 1rem;
}

.achievements-heading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
}

.achievements-subheading {
  font-size: 4.5rem;
  font-weight: 700;
}

.achievements-txt {
  font-size: 1.625rem;
}

.our-pillars {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.pillars-intro {
  width: 40vw;
  display: flex;
  flex-direction: column;
  background-color: #d8d8d8;
  position: relative;
  left: -10px;
}

.pillars-intro-txt-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 15vh;
}

.pillars-subtitle {
  font-size: 1.75rem;
}

.pillars-intro-txt {
  font-size: 3.5rem;
  font-weight: 700;
  padding-top: 3.25rem;
}

.pillars-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 75px;
}

.pillars {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pillars-img {
  width: 5.625rem;
  height: auto;
}

.pillars-txt {
  text-align: center;
  font-size: 1rem;
}

.pillars-title {
  color: #7f170e;
  font-weight: 700;
  font-size: 2.25rem;
}

#end-pic {
  padding: 0;
}

@media (max-width: 956px) {
  .who-are-we-img {
    width: 80vw;
    padding: 1rem;
  }
}

@media (max-width: 1122px) {
  .who-are-we-txt-container {
    width: 50rem;
    padding-bottom: 2vh;
  }
}

@media (max-width: 744px) {
  .purpose {
    padding: 1rem;
  }
}

@media (max-width: 1052px) {
  .our-pillars {
    display: flex;
    flex-direction: column;
  }

  .pillars-intro {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #d8d8d8;
  }

  .pillars-intro-txt-container {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
  }
}

@media (max-width: 375px) {
  .pillars-intro-txt {
    font-size: 15vw;
    font-weight: 700;
    padding-top: 3.25rem;
  }
}
