@import url("https://use.typekit.net/obn7dcx.css");

:root {
  --tt-red: #7f170e;
  --tt-yellow: #f8cd46;
  --tt-white: #f9f9f9;
  --tt-grey: #ececec;
  --tt-text-grey: #545454;
}

* {
  font-family: "alibaba-sans", sans-serif;
  font-size: 16px;
}

.proff {
  padding: 4.6875rem;
}

.proff-heading {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  padding: 0 3vw 0 3vw;
}

.proff-txt {
  font-size: 1.25rem;
  color: var(--tt-text-grey);
  text-align: center;
  padding: 1 3vw 0 3vw;
}

.proff-card {
  display: flex;
  flex-direction: row;
  background-color: #d8d8d8;
  padding: 4.0625rem 2.1875rem 4.0625rem 2.1875rem;
  justify-content: center;
  border-radius: 1.875rem;
  align-items: center;
  margin: 4.6875rem 0 4.6875rem 0;
  flex-wrap: wrap;
}


.proff-card-txt {
  font-size: 1.125rem;
  font-weight: 700;
  padding-left: 2rem;
  width: 35.5rem;
}

@media (max-width: 600px) {
  .proff-card-txt {
    width: 10rem;
    font-size: 1rem;

  }
  .proff-card{
    padding: 2rem 0 2rem 0  
  }
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proff-line {
  width: 80.625rem;
  height: 1px;
  background-color: black;
  margin: 20px 0;
}

.proff-subheading {
  font-size: 2.25rem;
  color: var(--tt-red);
  font-weight: 700;
  padding: 5vw;
}

.offerings-card {
  background-color: #d8d8d8;
  width: 18.75rem;
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  padding: 7.0625rem 1.5rem 0 1.5rem;
  border-radius: 1.5625rem;
}

.offerings-card-container {
  justify-content: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.offering-card-heading {
  font-size: 1.6875rem;
  font-weight: 600;
  color: var(--tt-red);
}

.offering-card-txt {
  font-size: 0.9375rem;
}

.offering-headding{
  font-size: 3.5rem;
  font-weight: 700;
  padding: 0 5vw 0 5vw;
}

.offering-subtxt{
  font-size: 1.25rem;
  padding-top: 1rem;
  padding: 0 5vw 0 5vw;
}

.offerings{
  background-color: #ECECEC;
  padding: 6.1875rem 11.5rem 6.1875rem 11.5rem;

}


@media (max-width: 1000px) {
  .proff-line {
    width: 100%;
  }

  .offering-headding{
    font-size: 3rem;
  }

  .offerings{
    padding: 0 1rem 0 1rem;
  }
  
  .offerings-card-container{
    gap: 1rem;
  }
}

@media (max-width: 766px) {
  .proff-card-txt{
    font-size: 12px;
    width: 350px;
  }
}
