.pfp {
  width: 330px;
  height: 480px;
  object-fit: cover;
  padding-bottom: 3vh;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  height: 90vh;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-data {
  color: #666666;
}

.label {
  font-weight: 600;
  margin: 0;
}

.edit {
  border: #7f170e solid;
  width: 10rem;
  padding: 1rem;
  border-radius: 10px;
  color: #7f170e;
}

.edit:hover {
  background-color: #f3ecec;
}

#EditIcon {
  height: 20px;
  padding-left: 5px;
  padding-bottom: 4px;
}

.user-input {
  border: none;
  border-bottom: 1px solid #ccc;
  background: none;
  outline: none;
  padding: 5px 0;
  font-size: 1rem;
  color: #333;
  width: 20rem;
}

.user-input:focus {
  border-bottom: 1px solid #007bff;
  outline: none;
}

.logout,
.save,
.cancel {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.save {
  color: white;
  background-color: #7f170e;
  border: none;
}

.cancel {
  color: #7f170e;
  background-color: white;
  border: 2px solid #7f170e;
}

.cancel:hover {
  background-color: #f3ecec;
}

.save:hover {
  background-color: #601008;
}

.button-group {
  display: flex;
  justify-content: space-between;
  padding-top: 2vh;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  background-color: #d6d6d6;
  color: rgb(33, 37, 41);
  font-weight: 700;
}

@media (max-width: 815px) {
  .edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-container {
    margin-bottom: 40vh;
  }
}
