@import url("https://use.typekit.net/obn7dcx.css");

:root {
  --tt-red: #7f170e;
  --tt-yellow: #f8cd46;
  --tt-white: #f9f9f9;
  --tt-grey: #ececec;
  --tt-text-grey: #545454;
}

* {
  font-family: "alibaba-sans", sans-serif;
  font-size: 16px;
}

.service-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 7rem 9.25rem 7.4375rem 8.8125rem;
  gap: 6.25rem;
  background-color: var(--tt-grey);
}

.service-headding {
  font-size: 2.5rem;
  font-weight: 900;
}

.service-body {
  width: 34.75rem;
}

.service-txt {
  font-size: 1rem;
  font-weight: 500;
  color: var(--tt-text-grey);
}

.img-container-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5625rem;
}

.img-container-verticle {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

#cooking-img {
  width: 26.5625rem;
  height: auto;
}

.service-img-square {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}

.card-img {
  width: 18.75rem;
  height: 18.75rem;
  object-fit: cover;
}

.empower-container {
  background-color: var(--tt-white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 5.1875rem 12.1875rem 6.9375rem 12.1875rem;
}

.empower-card {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  margin: 1rem;
}

.empower-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.empower-subheading {
  font-size: 1.75rem;
  font-weight: 900;
  margin: 0;
  margin-top: 1rem;
  color: var(--tt-red);
}

.empower-txt {
  font-size: 1.125rem;
}

.empower-heading {
  font-size: 2.5rem;
  font-weight: 900;
  padding-bottom: 3vh;
}

.spotlights-container {
  padding: 5.0625rem 5.5625rem 5.0625rem 5.5625rem;
  background-color: var(--tt-grey);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.spotlight-img {
  width: 21.875rem;
  height: 21.875rem;
  object-fit: cover;
}

.spotlight-card {
  width: 21.875rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

.spotlight-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6.25rem;
  justify-content: center;
}

.spotlights-container {
  justify-content: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.spotlight-headding {
  font-size: 2.5rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

.spotlight-subheading {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--tt-red);
  padding-top: 1rem;
}

.spotlight-txt {
  font-size: 1.125rem;
  color: var(--tt-text-grey);
}

@media (max-width: 766px) {
  .service-container{
    padding: 2rem;
  }
  .empower-container{
    padding: 2rem;
  }

  #cooking-img {
    width: 25rem;
    height: auto;
  }

  .service-img-square{
    width: 11.4rem;
    height: 11.4rem;
    object-fit: cover;
  }

}
