@import url("https://use.typekit.net/obn7dcx.css");

:root {
  --tt-red: #7f170e;
}
* {
  font-family: "alibaba-sans", sans-serif;
  font-size: 16px;
}

#social-heading {
  color: #545454;
  font-size: 2.625rem;
  font-weight: 700;
  text-align: center;
}

#social-subtxt {
  font-size: 1.125rem;
  text-align: center;
}

.social-heading-container {
  background-color: #ececec;
  padding: 5.375vh 11.125vw 5.375vh 11.125vw;
}

.social-subheadding {
  color: var(--tt-red);
  font-size: 1.75rem;
  font-weight: 700;
}

.social-txt {
  font-size: 1.125rem;
}

.social-txt-container {
  width: 31.25rem;
}

.social-body-container {
  padding: 4.6875vh 11.125vw 4.6875vh 11.125vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.social-img {
  width: 33rem;
  height: 25.1875rem;
  object-fit: contain;
}
