.image-list {
  list-style: none;
  padding-bottom: 2rem;
  margin: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.company-logo {
  width: 200px;
  height: auto;
}

.image-list li {
  margin-right: 1rem; 
}

.image-list li:last-child {
  margin-right: 0;
}

.fade-in-section {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.fade-in-list {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.fade-in-list:nth-child(1) {
  transition-delay: 0.25s;
}

.fade-in-list:nth-child(2) {
  transition-delay: 0.5s;
}

.fade-in-list:nth-child(3) {
  transition-delay: 0.75s;
}

.fade-in-list:nth-child(4) {
  transition-delay: 1s;
}

.fade-in-section.fade-in-active {
  opacity: 1;
}

.fade-in-list.fade-in-active {
  opacity: 1;
}

@media (max-width: 1000px) {
  .FadeInList{
    display: none;
  }
}
