:root {
  --fill: #f8cd46;
  --border: #7f170e;
}


.node__root > circle {
  fill: var(--border);;
}

.node__branch > circle {
  fill: var(--fill);;
  stroke: var(--border);
  stroke-width: 3px;
}

.node__leaf > circle {
  fill: var(--fill);;
  stroke-width: 0px;
}

