.linkedin-button {
  display: inline-block;
}

.linkedin-link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 20px;
  border-radius: 50px;
  border: 2px solid #0072b1;
  background: white;
  color: #0072b1;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.linkedin-icon {
  font-size: 24px;
  color: #0072b1;
}

.linkedin-link:hover {
  background-color: #0072b1;
  transition: color 0.3s ease-in-out;
}

.linkedin-link:hover .linkedin-text,
.linkedin-link:hover .linkedin-icon {
  color: white;
  transition: color 0.3s ease-in-out;
}
