.Logo{
    width:3rem;
    height: 3rem;
}

.logo-container{
    display: flex; 
    justify-content: flex-start;
}

.text-container{
    text-align: left;
    flex-direction: column;
    padding-left: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

#ThetaTau{
    margin: 0%;
    color: #000000;
}

#LongBeach{
    margin: 0%;
    color: #4B4B4B;
}