.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #F9F9F9;
}

.logo {
  padding-left: 5rem;
}

.links {
  display: flex;
  padding-right: 5rem;
}

.links a {
  padding-top: 0.7rem;
  font-size: 0.75rem;
  font-weight: medium;
  color: #b0b0b0;
  text-decoration: none;
  margin-right: 20px;
  &:hover {
    color: #232427;
  }
}

a:has(button) {
  padding-top: 0 !important;
}


.nav-line {
  width: 1px;
  height: 2.5rem;
  background-color: black; 
  
}

