.outlined-button {
    background-color: transparent;
    border: 3px solid #84322C;
    color: #84322C;
    padding: 8px 16px;
    font-size:  0.75rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5rem;
    margin-right: 1rem;

  
    &:hover {
      background-color: #84322C;
      color: #fff;
    }
  }
  