.img-txt{
    position: relative; /* or absolute */
    left: 6.25rem;
    top: 29.8125rem;
    color: #FFF;
    width: 40rem;
}


.img-txt p{
    font-size: 1.25rem;
}

.img-txt h1{
    font-size: 2.625rem;
}


