.parallax-txt {
  position: relative;
  left: 10rem;
  top: 35rem;
  color: #FFF;
  width: 40rem;
  font-size: 4.5rem;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .parallax-txt {
    left: 8rem;
    top: 25rem;
    width: auto;
    font-size: 4rem;
  }
}

@media (max-width: 800px) {
  .parallax-txt {
    left: 5rem;
    top: 20rem;
    width: auto;
    font-size: 3.5rem;
  }
}

@media (max-width: 600px) {
  .parallax-txt {
    left: 2rem;
    top: 10rem;
    width: auto;
    font-size: 2.5rem;
  }
}
