#timeline-container {
padding-left: 15vw;
}

.timeline {
  margin: 0 auto;
  position: relative;
  left: 120px;
  width: 80%;
  max-width: 900px;
  margin-top: 16px;
  margin-left: 5%;
}

.event {
  color: #000000;
  font-family: var(--font-family-2);
  
  text-align: left;
  font-size: 1.4rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-left: 4px solid #F8CD46;
  position: relative;
  list-style-type: none;
  --item-width: calc(100%);

  &::after {
    content: attr(data-date);
    position: absolute;
    right: calc(var(--item-width) + 40px);
    top: 16px;
    float: right;
    font-weight: bold;
    white-space: nowrap;
    font-weight: 900;
  }


  &::before {
    content: "";
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #F8CD46;
    position: absolute;
    left: -10px;
    top: 21px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.event-name{
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0; 
}

.event-location{
  font-size: 1rem;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .timeline {
    margin: 0 auto;
    position: relative;
    left: 85px;

    .event {
      font-size: 1.1rem;

      &::after {
        right: calc(var(--item-width) + 30px);
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .event {
    padding: 1rem 1.5rem 1rem 0.5rem;

    &::after {
      right: calc(var(--item-width) + 20px);
    }
  }
}

