.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid #7f170e;
  border-radius: 20px;
  background: #7f170e;
  font-weight: bold;
  color: #7f170e;
  cursor: pointer;
  width: 30rem;
}

.toggleContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: white;
  transition: all 0.3s;
}

.toggleContainer.checked::before {
  left: 50%;
}

.toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}

.toggleCheckbox {
  display: none;
}

.toggleContainer.checked div:first-child {
  color: white;
  transition: color 0.3s;
}

.toggleContainer.checked div:last-child {
  color: #7f170e;
  transition: color 0.3s;
}

.toggleContainer:not(.checked) div:first-child {
  color: #7f170e;
  transition: color 0.3s;
}

.toggleContainer:not(.checked) div:last-child {
  color: white;
  transition: color 0.3s;
}
